.submit{
  width:48%;
  height:100%;
  background-color: rgb(54, 54, 54);
  font-family: 'Raleway', sans-serif;
  margin-top: 80px;
  color:white;
  display: inline-block;
}
.all{
  float: left;
}
.text{
  float:right;
}
.submitForm{
text-align: center;}
.selectInp{
  width:350px !important;
  font-family: 'Raleway', sans-serif !important;

}
.menuItem{
position: relative;
left:60px;
}
.textField{
  width:350px !important;
  border-color: white;
}
.choice{
  display:inline-block;
  position: relative;
  margin:5px;
  left:120px;
}
.choiceheader{
  display:inline-block;
  font-size: 12px;
}
.headFoot{
  position: relative;
  right: 30px;
  width:290px;
  margin:auto;
  margin-bottom: 10px;
  padding-top: 15px;
}
input[type="radio"] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.choice label:before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: 0.5em;
  border-radius: 100%;
  vertical-align: -3px;
  border: .5px solid rgb(250, 247, 247);
  padding: 0.13em;
  background-color: transparent;
  background-clip: content-box;
}
.choice input:checked {
  background-color: #3dbfef;
  border-color: #3dbfef;
}
label{
  font-size: 12px;
}
.popText{
  font-size: 12px !important;
  color: white !important;
  background-color: #181818 !important;
  padding: 25px 12px;
  border-radius: 4px !important;
  font-family: 'Raleway', sans-serif !important;
}
.popWraper{
  
}

