.upload{
  height:100%;
  color: white;
  font-family: 'Raleway', sans-serif;
  position: relative;
  top: 140px;
  width: 48%;
  margin-right:0;
  padding: 0;
  float:right;
  background-color: #181818;

}
.dragNdrop{
  height: 170px;
  border: 1px white dashed;
  width: 55%;
  margin: auto;
}
.dragNdropContent{
text-align: center;
font-weight: 500;

}
.clickToUpload{
  color:#c5ab14;
  font-weight: 700;
}
.format{
  text-align: center;
  font-size: 10px;
}
.headUplaod{
  font-size: 15px;
  position: relative;
  left:155px;  
  margin: 10px 0;
}
.numSongs{
  font-size: 12px;
  font-weight: 500;
  color: rgb(173, 173, 173);
}
.totalDragNdropContent{
  position: relative;
  top: 50px;
}

.checkbox-container {
  height: 30px;
  display: block;  
  overflow: hidden;
  font-size: 10px;
  font-weight: 500;
} 
.checkBoxArea{
  margin: 10px auto;
  width: 366px;
}
.submitMusic{
  height:37px !important;
  background-color: #fcd933 !important;
  border: .5px gray solid !important;
  color: black !important;
  font-family: 'Raleway', sans-serif !important;
  padding: 0 20px !important;
  margin: 50px auto !important;
  position: absolute !important;
  left: 40% !important;
  width: 130px !important;
  text-transform: none !important;
}
@media only screen and (max-width: 910px) {
  .upload{
    width:100%;
    /* position: absolute;
    left: 200px;  
    top: 800px; */
}
}