.footer{
  height: 50px;
  background-color: #171717;
  text-align: center;
}

.socialIcon{
  height: 14px;
  width: 14px;
  display: inline-block;
  background-color: white;
  border-radius: 2px;
  margin:18px 10px;
}
#youTube{
  position: relative;
  top:3px;
  height: 20px;
  width: 20px;
}
.insta{
  background: none;
}
.allSocial{
  position: relative;
  left:420px;
  bottom: 5px;
  float:right;
}
.artmail{
  position: relative;
  top:15px;
  left:65px;
  color:white;
  font-size: 10px;
  font-weight: 500;
}
