.middle{
  background-color: rgb(0, 0, 0);
  height:850px;
  background-image: linear-gradient(to bottom, rgba(5, 5, 5, 0.95) 55%, rgba(59, 59, 59, 0.8)), url('../img/guitarCarpet.jpg');
  background-size: cover;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  
}
.headerMiddle{
  color: white;
  text-align: center;
  margin:auto; 
  padding:90px 20px 0 0 ;
  font-size: 30px;
  font-weight: 800;
}
.imgContainer{
  color:white;
  height:210px;
  width:170px;
}
.image{
  width:100%;
  height:100%;
}
.artDetails{
  position: relative;
  bottom: 50px;
  font-size: 10px;
  font-weight: 700;
  color:white;
} 
.artName{
  color: rgb(187, 187, 38);
} 
.imgWrapper{
  width:150px;
  margin: 25px;
  display: inline-block;

}
.title{
  position: relative;
  padding: 5px;
  margin: 5px;
  right:15px;
  bottom: 50px;
  text-align: left;
  font-weight: 800;
  color: white;
  font-size: 20px;
}
.middleHeader{
  color: white;
}

.yellowHeader{
  position: relative;
  font-size: 13px;
  font-weight: 800 !important;
  left:62px;
  color: #dbc819;
  text-align: left;
  margin:9px;
}
.smallContent{
  position: relative;
  left:70px;
  text-align: left;
  font-size: 11px;
  width:100%;
  font-weight: 500;
  margin: auto;
  color: white;
  margin-bottom: 20px;
}
.paperStyle{
  background-color: transparent !important;
  border:none !important;
}
.gridWrapper{
  position: relative;
  left:80px;
}
.gridWrapperBottom{
  margin-bottom: 40px !important;
}
.yourThing{
  color: white;
  margin: 50px 0 40px;
  font-size: 38px;
  font-weight: 800;
}
.cardsWrapper{
width:1050px !important;
margin: auto;
}
@media only screen and (max-width: 1000px) {
  .imgContainer {
    height:200px;
  }
  .gridWrapper{
    width:100%;
    float:left;
    left:0;
  }
}
@media only screen and (max-width: 850px) {
  .imgContainer {
    height:170px;
    width:150px;
  }
  .imgWrapper{
    margin:5px 5px;;
  }
  .yourThing{
    margin:25px 10px 0 0;
  }
  .title{
    top:10px;
    right: 25px;
  }
  .artDetails{
    top:10px;
    right:10px;
  }
  .cardsWrapper{
    width: 600px;
  }
  
}



