.top{
  height: 100%;
  background-color: #daabaa;
  text-align: right;
  font-family: 'Raleway', sans-serif;
}
.topCont{
  display: inline-block;
  color:white;
  font-size: 24px;
  text-align: left;
  position: absolute;
  top: 40%;
  left: 43%;
  transform: translate(-50%, -50%);
  margin:0;
  padding: 0;
}
.header{
  width:55%;
}
.secondRow{
  font-weight: 300;
  font-size: 16px;
  width: 45%;
  position: relative;
  bottom: 20px;
}
.downloadButton{
  border-radius: 50%;
  height: 40px;
  width:40px;
  background-color: transparent;
  border: .5px white solid; 
  position: relative;
  left:20%;
}
.arrow{
  width:15px;
  height:15px;
}
.topimage{
  position: relative;
  top:4px;
  height:544px;
  width:550px;
}
.artlist{
  float:left;
  height:20px;
  right:140px;
  margin:20px;
}
@media only screen and (max-width: 960px) {
  .top{
    height:400px;
  }
  .topimage{
    display: none;
  }
  .header{
    width:100%;
    font-size: 50px;
    text-align: center;
    margin-top:20px;
  }
  .secondRow{
    width: 100%;
    text-align: center;
    margin:auto;
  }
  .topCont{
    position: absolute;
    top:25%;  
  }
  .downloadButton{
margin: 0 25%;
  }
 
}
@media only screen and (max-width: 870px) {
  
}